# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Projekty\Python\Monitoring pulsu i temperatury z bezprzewodowym powiadomieniem o anomaliach\MAX30102-Pulse_oximetry\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
